.header{
  width: 100%;
  background-color: #EBF3FA;
  border-radius: 16px;
  box-shadow: -4px -2px 16px #FFFFFF, 4px 2px 12px rgba(136, 165, 191, 0.54);
  padding-bottom: 15px;
}

.header__header_head{
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  //border: 1px solid green;
}

.header_head{
  height: 50px;
  box-sizing: border-box;
  padding: 15px 0 0 0;


}

%hideScroll{
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    //height: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    //height: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
    border-radius: 4px;
    width: 0;
    //height: 0;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
  }
}

.header__header_footer{
  display: flex;
  justify-content: center;
  height: 65px;
  box-sizing: border-box;
  align-items: center;
  max-width: 100%;
  overflow: scroll;
  @extend %hideScroll;
  //border: 1px solid red;
}

.header_footer{
  .hf__label{
    cursor: pointer;
    margin: 0 10px;
    border-radius: 16px;
    height: 48px;
    min-width: 120px;

    max-width: 168px;
    box-sizing: border-box;
    padding: 4px;
    & > div{
      border-radius: 12px;
      //border: 1px solid #37536F;

      background: linear-gradient(#E3EDF7,#E3EDF7) padding-box, linear-gradient(to right, #FFFFFF, #7888A2) border-box;
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      //padding: 0 10px;
      color: #31456A;

      font-weight: 700;
      font-size: 21px;
      line-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        margin-right: 5px;
      }
    }
  }
}

.header__logo{
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  color: #31456A;
  font-size: 36px;
  font-weight: 700;
}
