@import "../../../pages/styleConfig";
.select_component{
  width: auto;
  height: auto;
  position: relative;
  .select_btn{
    width: 160px;
    font-weight: 600;
    color: #31456a;
    font-size: 16px;
    line-height: 24px;
    height: 36px;
  }
  .select_btn__active{
    border: 2px solid transparent;
    background: linear-gradient(#E3EDF7, #E3EDF7) padding-box, linear-gradient(to right, #FFFFFF, #7888A2) border-box;
  }
}

.select_box{
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
  background-color: #E3EDF7;
  outline: none;
  border-radius: 16px;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  border: 2px solid rgba(#7888a2, 1);
  @extend %scrollBar;
  .select_box__option{
    border: 2px solid rgba(#7888a2, 1);
    cursor: pointer;
    border-radius: 16px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    max-width: 100%;
    box-sizing: border-box;
    //background-color: rgba(#7888A2, 0.5);
    //background: linear-gradient(#E3EDF7, #E3EDF7) padding-box, linear-gradient(to right, #FFFFFF, #7888A2) border-box;
    min-height: 36px;
    opacity: 0;
    transition: opacity 300ms;
    font-weight: 600;
    color: #31456a;
    font-size: 18px;
    line-height: 100%;
  }

  .select_box__option_active{
    background-color: #7888A2;
  }
}
