
.grid{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.grid__container{
  width: 100% / 12 * 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (max-width: 1024px) {
    width: 100% / 12 * 11;
  }
}


