.color_btn{
  background: linear-gradient(0deg, rgba(#e3edf7, 0.9), rgba(#E3EDF7, 0.9));
  &:hover{
    border-width: 2px;
  }
  & > div{
    //display: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
