.btn_medium{
  height: 48px;
  padding: 20px 10px;
  color: #31456A;
  font-weight: 600;
  margin-right: 10px;
  min-width: 80px;
}
.common{

  .btn_save{
    height: 48px;
    padding: 0 10px;
    color: #31456A;
    font-weight: 600;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .subtitle{
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #31456A;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #31456A;
    margin-bottom: 10px;
  }
  .input{
    &__id{
      width: 25%;
    }
    &__email{
      width: 40%;
    }
    &__phone{
      width: 30%;
    }
    &__third{
      width: 32%;
    }
    &__fourth{
      width: 23%;
    }
    &__fifth{
      width: 48%;
    }
  }
  .slider_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .slider_box__sb_container{
      flex-basis: 70%;
      //height: 300px;
      overflow: hidden;
      .slider{
        height: 100%;
        width: 120%;

        :global(.slick-list) {
          padding: 60px 0 60px 0 ;
          height: 100%;
          overflow: visible;
          //display: flex;
          //align-items: center;
        }
      }
    }
    .btn{
      flex-basis: 20%;
      //width: 20%;
      height: 228px;
      font-size: 128px;
      font-weight: 500;
      color: #31456a;
    }
  }
}

