.stock_slider{
  box-sizing: border-box;
  margin: 40px 0 80px 0;
  width: 100%;
  height: 480px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  .arrow_container{
    position: absolute;
    z-index: 2;
    //height: 200px;
    //width: 100px;
    right: 40px;
    bottom: 40px;
    background: linear-gradient(0deg, rgba(234, 241, 249, 0.1), rgba(234, 241, 249, 0.1));
    background-blend-mode: normal, luminosity;
    border-radius: 24px;
    backdrop-filter: blur(30px);
    display: flex;
    .arrow{
      flex-shrink: 0;
      width: 90px;
      height: 40px;
      margin: 0 10px 0 10px;
      svg{
        g{
          filter: none;
        }
      }
    }
  }
  .img_container{
    position: relative;
    width: 340px;
    height: 480px;
    & > img{
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
