.app__slider_new_products{
  width: calc(100% + 50px);
  height: 510px;
  box-sizing: border-box;
  overflow-x: hidden;
  //overflow-y: visible;
  //border: 1px solid greenyellow;


}

.slider_new_products{
  .slider_new_products__header{
    padding: 5px 25px 0 25px;
    width: calc(100%);
    height: 75px;
    display: flex;
    justify-content: space-between;
  }
  .header{
    .title{
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }
    .header__navigation_box{

      display: flex;
    }
    .navigation_box{
      .arrow{
        margin: 0 10px;
        display: flex;
        justify-content: center;
        height: 48px;
        cursor: pointer;
        border-radius: 16px;
        align-items: center;
        width: 56px;
      }
    }
  }
  .slider_new_products__slider{

    height: auto;

    //box-sizing: border-box;
    :global(.slick-list){
      height: 100%;
      overflow: visible;
      :global(.slick-slide){
        & > div{
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
