.search_parameters{
  width: 100%;
  display: flex;
  padding: 20px 0 20px 0;
  & > * {
    margin: 0 10px;
  }
  .sp__size{
    & > button{
      width: 150px;
    }
  }

  .search_parameters__active{
    & > button{
      border: 2px solid transparent;
      background: linear-gradient(#E3EDF7, #E3EDF7) padding-box, linear-gradient(to right, #FFFFFF, #7888A2) border-box;
    }
  }
}
