.form{
  width: 500px;
  .btn_active{
    box-shadow: -4px -2px 16px rgb(0 0 0 / 0%), 4px 2px 12px rgb(0 0 0 / 0%), inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgb(136 165 191 / 48%);
    border: 2px solid rgba(#7888a2, 0.5);
  }
  .btn_medium{
    width: 120px;
    height: 48px;
    padding: 0 10px 0 10px;
    color: #31456A;
  }
  .subtitle{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #31456A;
  }
  .btn_create{
    width: 120px;
    height: 48px;
    margin-top: 30px;
    font-weight: 600;
    color: #31456A;
  }
  .btn_file{
    width: 200px;
    height: 48px;
    font-weight: 600;
    color: #31456A;
  }
  .image_container{
    width: 200px;
    height: 200px;
    border-radius: 24px;
    overflow: hidden;
    & > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .error{
    font-size: 12px;
    line-height: 100%;
    font-weight: 600;
    height: 12px;
    color: #cf64a4;
  }
  .flex{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .input_file{
      display: none;
    }
    & > *{
      margin: 0 10px 10px 0;
    }
    .btn{
      height: 36px;
      padding: 0 10px 0 10px;
    }


  }
}
