.button_primary{
  cursor: pointer;
  min-width: 32px;
  height: 32px;
  border-radius: 16px;
  outline: none;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
  box-shadow: -4px -2px 16px #FFFFFF, 4px 2px 12px rgba(136, 165, 191, 0.54), inset -3px -3px 7px rgba(0, 0, 0, 0.001), inset 3px 3px 7px rgba(0, 0, 0, 0.001);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 solid #E3EDF7;
  transition: border 200ms, box-shadow 400ms, opacity 400ms;
  position: relative;
  box-sizing: border-box;
  opacity: 1;
  &:hover{
    box-shadow: -4px -2px 16px rgba(0, 0, 0, 0.001), 4px 2px 12px rgba(0, 0, 0, 0.001), inset -3px -3px 7px #FFFFFF, inset 3px 3px 7px rgba(136, 165, 191, 0.48);
    border: 2px solid #E3EDF7;
  }
  &:disabled{
    opacity: 0.5;
  }
}
