.product_card{


  position: relative;
  width: 260px;
  height: 360px;
  border-radius: 24px;
  background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
  box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
  //overflow: hidden;
  border: 1px solid;
  border-image-source: linear-gradient(244.98deg, #FFFFFF 29.81%, rgba(219, 230, 242, 0) 53.04%, #8F9FAE 100%);
  perspective: 800px;

  .pc_deck{
    border-radius: 24px;
    overflow: hidden;
    transform: rotateY(0);
    transform-style: preserve-3d;
    position: relative;
    transition: transform 1000ms;
    z-index: 1;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
  }
  .pc_deck__loading{
    transform: rotateY(180deg);
  }
  .pc__loader{
    transition: transform 1000ms;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 24px;
    background: linear-gradient(210.55deg, #345e8a 19.14%, #6e1960 154.68%);
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }
  .pc__loader_active{
    transform: rotateY(0deg);
  }
  .pc__image{
    cursor: pointer;
    width: 100%;
    height: 260px;
    overflow: hidden;
    & > img{
      width: 100%;
      height: auto;
    }
  }
  .pc__name{
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0 8px 0;
    text-align: center;
    color: #31456A;
  }
  .pc__product_price{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #31456A;
    & > div{
      margin: 0 10px;
    }
    .product_price__old{
      font-weight: normal;
      text-decoration-line: line-through;
      color: #82828B;
    }
  }
}


