
.form{
  width: 250px;
  min-height: 200px;
  color: #31456A;
  .error{
    text-align: center;
    font-size: 12px;
    line-height: 100%;
    font-weight: 600;
    height: 12px;
    color: #cf64a4;
    margin-bottom: 10px;
  }
  .btn_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn_box__sub_box{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .btn{
      padding: 0 10px;
      margin: 0 5px 10px 5px;
    }
  }
}
