.pop_up__container{
  width: 400px;
  .basket{
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}
.product_content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 30px 0;
  %card{
    box-shadow: -4px -2px 16px #ffffff, 4px 2px 12px rgb(136 165 191 / 54%);
    //border: 1px solid;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
    border-radius: 24px;
    border-image-source: linear-gradient(244.98deg, #FFFFFF 29.81%, rgba(219, 230, 242, 0) 53.04%, #8F9FAE 100%);
  }
  .product_content__pc_slider{
    flex-basis: 50%;
    max-width: 50%;
    overflow: hidden;
    max-height: 465px;
    @extend %card;
  }
  .pc_slider{
    .img{
      height: 390px;
      background-color: #C6D7EB;
      outline: none;
      & > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .product_content__pc_full_info{
    flex-basis: 45%;
    @extend %card;
    padding: 20px 30px;
    box-sizing: border-box;
    color: #31456A;
  }
  .pc_full_info{
    .title{
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;

    }
    .subtitle{
      font-size: 16px;
      line-height: 24px;
      margin: 10px 0 15px 0;
    }
    .label{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
    .price_box{
      display: flex;
      align-items: center;
      margin: 20px 0 5px 0;
      .price{
        font-weight: 600;
        font-size: 28px;
        line-height: 28px;
        margin-right: 20px;
      }
      .old_price{
        font-size: 24px;
        line-height: 24px;
        text-decoration-line: line-through;
        color: #82828B;
      }
    }
    .colors{
      display: flex;
      & > {
        margin-right: 10px;
      }

      .colors__btn_active{
        border: 2px solid transparent;
        background: linear-gradient(#E3EDF7, #E3EDF7) padding-box, linear-gradient(to right, #FFFFFF, #7888A2) border-box;
      }
    }
    .sizes{
      display: flex;
      .sizes__btn{
        margin: 0 10px 10px 0;
        font-weight: 600;
        color: #31456A;
      }
      .sizes__btn_active{
        border: 2px solid transparent;
        background: linear-gradient(#E3EDF7, #E3EDF7) padding-box, linear-gradient(to right, #FFFFFF, #7888A2) border-box;
      }
    }
    .buttons_box{
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0 0 0;

      .btn_buy{
        width: 290px;
        margin-right: 20px;
        height: 48px;
        font-size: 24px;
        color: #31456A;
        svg{
          height: 28px;
          width: auto;
          margin-right: 15px;
        }
      }
      .btn_basket{
        height: 48px;
        width: 48px;
        border-radius: 50%;
        font-size: 24px;
        svg{
          //width: 100%;
          height: 65%;
          width: auto;
        }
      }
    }
  }
}
