.t_btn{
  padding: 0 20px;
}
.delIcon{
  opacity: 0;
  position: absolute;
  right: 10px;
}
.ap__products{
  .header{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
    & > *{
      margin: 0 20px;
    }
    .btn{
      height: 36px;
      width: 160px;
      color: #31456A;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 20px;
      position: relative;
      &:hover{
        .delIcon{
          opacity: 1;
        }
      }

    }
    .btn_active{
      box-shadow: -4px -2px 16px rgb(0 0 0 / 0%), 4px 2px 12px rgb(0 0 0 / 0%), inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgb(136 165 191 / 48%);
      border: 2px solid rgba(#7888a2, 0.5);
    }
  }
  .products_list{
    & > * {
      margin-bottom: 20px;
    }
    .product{
      height: 180px;
      border-radius: 24px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 15px;
      display: flex;
      position: relative;
      .btn_box{
        height: 100px;
        position: absolute;
        right: 20px;
        top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > button{
          margin-left: 20px;
          width: 150px;
        }
      }
      .image_container{
        width: 150px;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
        & > img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info{

        padding-left: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        .box{
          display: flex;
          margin-right: 20px;
          height: 32px;

          text-overflow: ellipsis;
          & > button{
            margin-right: 10px;
          }
          & > span{
            flex-shrink: 0;
          }
          .subtitle{
            color: #31456a;

            text-align: left;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 12px;
            margin-right: 10px
          }
        }
      }
    }
  }
}
