.range_box{

  :global(.input-range){
    height: auto;
  }

  :global(.input-range__track--background){
    background: linear-gradient(8.37deg, #FFFFFF -30.86%, #ECF1F7 -10.72%, #CFDCEB 112.31%);
    box-shadow: inset -4px -4px 7px rgba(255, 255, 255, 0.7), inset 4px 4px 6px rgba(18, 46, 101, 0.15);
    border: 1px solid #CFDCEB;
    border-radius: 31px;
    height: 12px;
  }

  :global(.input-range__track--active){
    background: linear-gradient(89.72deg, #F0F4F9 -4.95%, #587CA5 578.66%);
    box-shadow: -1px 2px 2px rgba(24, 55, 91, 0.1), inset 0px 0px 4px rgba(46, 68, 87, 0.02), inset 0px -2px 1px rgba(39, 81, 126, 0.12);
    height: 11px;
  }

  :global(.input-range__slider){
    background: linear-gradient(89.72deg, #F0F4F9 -4.95%, #587CA5 578.66%);
    box-shadow: -1px 2px 2px rgba(24, 55, 91, 0.1), inset 0px 0px 4px rgba(46, 68, 87, 0.02), inset 0px -2px 1px rgba(39, 81, 126, 0.12);
    backdrop-filter: blur(28px);
    /* Note: backdrop-filter has minimal browser support */
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-bottom: 0;
    border: 1px solid #7888A2;
    top: -3px;
  }
  :global(.input-range__label){
    font-weight: 600;
    color: #31456a;
    font-size: 16px;
    line-height: 24px;
  }
  :global(.input-range__label--value){
    //display: none;
  }
  :global(.input-range__label--min){
    bottom: 18px;
  }
  :global(.input-range__label--max){
    bottom: 18px;
  }

  .range_box__labels{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: #31456a;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}
