.footer{
  //box-shadow: -4px -2px 16px #FFFFFF, 4px 2px 12px rgba(136, 165, 191, 0.54);
  //border: 1px solid black;
  height: 250px;
  width: 100%;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
  color: #7888A2;
  .footer_wrapper{
    height: 100%;
    & > div{
      height: 100%;
    }
  }
  .footer__footer_container{
    width: 100%;

    border-radius: 16px;
    //box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    //background: linear-gradient(299.64deg, #C3D1E4 -0.02%, #DDE7F3 54.14%, #D4E0ED 100.43%);
    height: 100%;
    background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    border: 1px solid;
    border-image-source: linear-gradient(244.98deg, #FFFFFF 29.81%, rgba(219, 230, 242, 0) 53.04%, #8F9FAE 100%);
  }
  .footer_container{
    .footer_container__fc_content{
      display: flex;
      padding: 30px 20px 30px 20px;

    }
    .fc_content{
      .fc_content__block{
        flex-basis: 33%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        .title{
          color: #31456a;
          width: 100%;
          text-align: left;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 12px;
        }
        .link{
          color: #31456a;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          margin: 6px 0 18px 0;
        }
        .label{
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 12px;
          cursor: pointer;
        }
        .social_box{
          display: flex;
          & > div{
            cursor: pointer;
            margin-right: 10px;
            width: 34px;
            height: 34px;
            svg{
              width: 100%;
              height: 100%;
            }
          }
        }
      }

    }
  }
}
