%border{
  border: 1px solid transparent;
  background: linear-gradient(#E3EDF7, #E3EDF7) padding-box, linear-gradient(to right, #FFFFFF, rgba(#7888a2, 0.5)) border-box;
}
.bank_card{
  width: 358px;
  height: 228px;
  //background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
  box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
  border-radius: 24px;
  box-sizing: border-box;
  position: relative;
  padding: 20px 15px;
  @extend %border;
  &:hover{
    .bc__btn{
      opacity: 1;
    }
  }
  .bc__btn{
    transition: all 300ms;
    opacity: 0;
    position: absolute;
    left: 15px;
    width: 80px;
    height: 48px;
    bottom: 20px;
    svg{
      height: 70%;
      width: auto;
    }
  }
  .bc__numbers{
    font-family: Share Tech Mono, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    font-feature-settings: 'ordn' on, 'cpsp' on;

    text-shadow: -1px -1px 2px #FFFFFF, 1px 1px 2px rgba(20, 44, 73, 0.38);
  }
  .bc__background{
    background: linear-gradient(260.98deg, #FFFFFF 11.02%, rgba(255, 255, 255, 0) 61.27%), url('../../../public/static/assets/images/card-background.png'), url('../../../public/static/assets/images/card-background.png');
    background-blend-mode: overlay, color-burn, normal;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    //position: absolute;
    //right: 20px;
    //top: 50%;
  }
  .bc__numbers_box{
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
  }
  .bc__date_box{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .bc__payment_system{
    font-style: italic;
    font-weight: 900;
    font-size: 28px;
    line-height: 100%;
  }
  .bc__chip{
    position: absolute;
    width: 52px;
    height: 42px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %border;
    svg{
      flex-shrink: 0;
    }
  }
}
