
.ap__stocks{
  .header{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    & > input{
      display: none;
    }
    .btn{
      height: 36px;
      width: 240px;
      color: #31456A;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .stocks__list{
    & > *{
      margin-bottom: 20px;
    }
    .stock{
      position: relative;
      width: 100%;
      border-radius: 24px;
      overflow: hidden;
      .img{
        width: 100%;
        height: auto;
      }
      .btn{
        width: 48px;
        height: 48px;
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
  }
}
