%hideScroll{
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    //height: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    //height: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
    border-radius: 4px;
    width: 0;
    //height: 0;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #EBF3FA;
  min-width: 1024px;
  @extend %hideScroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
