%scrollBar{
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
    border-radius: 4px;
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
  }
}
