
.sub{
  white-space: pre-line;
  border-radius: 16px;
  background: -moz-linear-gradient(239.45deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
  background: linear-gradient(
                  210.55deg
          , #EBF2F9 19.14%, #C6D7EB 154.68%);
  box-shadow: -16px -16px 40px rgb(255 255 255 / 80%), 16px 4px 64px rgb(18 61 101 / 30%), inset -8px -6px 80px rgb(255 255 255 / 18%);
  border: 1px solid;
  border-image-source: linear-gradient(
                  244.98deg
          , #FFFFFF 29.81%, rgba(219, 230, 242, 0) 53.04%, #8F9FAE 100%);
  margin: 20px 0;
  padding: 20px;
}
