
.input_container{
  transition: width 300ms;
  border: 1px solid;
  border-image-source: linear-gradient(#FFFFFF 100%, #37536F 40%);
  width: 100%;
  .input_container__label{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #31456A;
  }
  .input_container__sublabel{
    font-size: 12px;
    line-height: 100%;
    font-weight: 600;
    height: 12px;
    color: #cf64a4;
  }
  .input_box{
    position: relative;
    .input{
      box-sizing: border-box;
      width: 100%;
      background: #E3EDF7;
      box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38);
      border-radius: 16px;
      border: 2px solid rgba(#8F9FAE, 0.1);
      // border-image-source: linear-gradient(244.98deg, #FFFFFF 29.81%, rgba(219, 230, 242, 0) 53.04%, #8F9FAE 100%);
      outline: none;

      padding: 0 20px 0 20px;
      color: #31456A;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      height: 32px;
      transition: width 300ms, border-color 400ms;
      &:focus{
        border-color: rgba(#8F9FAE, 0.6);
      }
    }
    .input_box__icon{
      height: 100%;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;

      svg{
        height: 80%;
        width: auto;
        vertical-align: middle;
      }
    }
  }

}
