.pop_up_basket{
  color: #31456A;
  .title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .btn_box{
    display: flex;
    justify-content: center;
  }
  .btn{
    height: 36px;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 10px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

.header_head__right_corner{
  display: flex;
  padding-right: 10px;
  & > *{
    flex-shrink: 0;
  }
  .button{
    margin-left: 10px;
    height: 36px;
    width: 36px;
    svg{
      width: 21px;
      height: 21px;
    }
  }
}

.right_corner{
  .right_corner__find_box{
    display: flex;
    width: auto;
  }
  .find_box{
    .find_box__input{
      width: 0;
      opacity: 0;
      display: none;
      transition: width 500ms;
    }
  }
  .user_box{
    position: relative;
    &:hover{
      .context_menu{
        opacity: 1;
        pointer-events: all;
      }
    }
    .context_menu{
      transition: opacity 500ms;
      opacity: 0;
      margin-top: 0;
      z-index: 2;
      pointer-events: none;
      right: -75px + 17px;
      width: 150px;
      padding: 10px 20px;
      box-sizing: border-box;
      border-radius: 16px;
      position: absolute;
      border: 2px solid transparent;
      background: linear-gradient(#E3EDF7, #E3EDF7) padding-box, linear-gradient(to right, #FFFFFF, #7888A2) border-box;
      .btn{
        height: 36px;
        padding: 0 10px;
        width: 100%;
        margin-bottom: 10px;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
}
