.admin_page{
  background: linear-gradient(180deg, #EBF3FA 9.85%, #DDE7F3 53.92%, #E6F0F9 100%);
  box-shadow: -4px -2px 16px #ffffff, 4px 2px 12px rgb(136 165 191 / 54%);
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid;
  border-image-source: linear-gradient(
                  244.98deg, #FFFFFF 29.81%, rgba(219, 230, 242, 0) 53.04%, #8F9FAE 100%);
  margin: 20px 0 0 0;
  transition: height 500ms;
  .ap__nav_header{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .nav_header{
    & > *{
      margin: 0 20px;
    }
    .btn{
      height: 48px;
      width: 180px;
      color: #31456A;
      font-weight: 500;
      font-size: 16px;
    }
    .btn_active{
      box-shadow: -4px -2px 16px rgb(0 0 0 / 0%), 4px 2px 12px rgb(0 0 0 / 0%), inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgb(136 165 191 / 48%);
      border: 2px solid rgba(#7888a2, 0.5);
    }
  }
}
