%scroll{
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
    border-radius: 4px;
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
  }
}
.pop_up__overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  //overflow: scroll;

  &:after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../../public/static/assets/images/backgroundGlass.jpg');

    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
  }
  .pop_up__content{
    @extend %scroll;
    max-height: 100%;
    overflow: scroll;
    border-radius: 24px;
    max-width: 100%;
    height: auto;
    background: linear-gradient(
                    210.55deg
            , #EBF2F9 19.14%, #C6D7EB 154.68%);
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid;
    border-image-source: linear-gradient(
                    244.98deg
            , #FFFFFF 29.81%, rgba(219, 230, 242, 0) 53.04%, #8F9FAE 100%);
    position: relative;
    .close{
      position: absolute;
      right: 5px;
      top: 5px;
      font-weight: 700;
      color: #31456A;
    }
    .title{
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 22px;
      line-height: 100%;
      color: #31456A;
      margin-bottom: 10px;
    }
  }
}
