.header_head__left_corner{
  display: flex;
  padding-left: 10px;
  & > button{
    margin-right: 10px;
    height: 36px;
    width: 36px;
    svg{
      width: 21px;
      height: 21px;
    }
  }

}
