%hideScroll{
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
    border-radius: 4px;
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
  }
}
.btn_medium{
  height: 48px;
  padding: 20px 10px;
  color: #31456A;
  font-weight: 600;
  margin-right: 10px;
  min-width: 80px;
}
.subtitle{
  max-width: 350px;
  margin: 10px 0 10px 0;
  color: #31456A;
}
.pop_up_humans{
  width: 350px;
  .human{
    height: 36px;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    border: 2px solid rgba(#7888a2, 1);
    .name{
      max-width: 30%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;
    }
    .patronymic{
      max-width: 10%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;
    }
    .delete{
      position: absolute;
      right: 0;

    }
  }
}
.basket{
  display: flex;
  .basket__b_left_corner{
    width: 35%;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    position: relative;
    left: -15px;
    .basket_list{
      max-height: 360px;
      overflow: scroll;
      @extend %hideScroll;

      & > *{
        margin-bottom: 18px;
      }
    }
    .btn_box{
      position: relative;

      .btn_box__tooltip{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        right: 10px;
        opacity: 0;
        width: 85px;
        transition: opacity 300ms;
        display: flex;
        .btn_more{
          flex-shrink: 0;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          margin: 0 5px 0 5px;
          svg{
            width: 70%;
            height: auto;
            max-height: 70%;
          }
        }
      }
      &:hover{
        .btn_box__tooltip{
          opacity: 1;


        }
      }
    }
    .btn{
      min-height: 48px;
      height: auto;
      width: 80%;
      margin-left: 15px;
      font-size: 18px;
      color: #31456A;
      padding: 0 10px;
    }
    .line{
      height: 1px;
      width: 80%;
      background: rgb(49,69,106);
      background: radial-gradient(circle, #31456a 40%, #E6F0F9 100%);
      margin: 20px 0 20px 15px;
    }
  }
  .basket__b_right_corner{
    width: 65%;
    .product{
      box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
      border-radius: 24px;
      box-sizing: border-box;
      min-height: 120px;
      padding: 10px 15px;
      display: flex;
      margin-bottom: 20px;
      .product__img_container{
        width: auto;
        max-height: 120px;
        height: 100%;
        min-width: 100px;
        border-radius: 6px;
        overflow: hidden;
        & > img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .product__p_information{
        padding-left: 20px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        &:hover{
          .p_information__delete_btn{
            opacity: 1;
          }
        }
        .p_information__delete_btn{
          opacity: 0;
          transition: all 200ms;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          svg{
            width: 70%;
            height: auto;
          }
        }
        .p_information__name{
          cursor: pointer;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 100%;
          color: #31456A;
        }
        .p_information__footer{
          margin-top: 20px;
          display: flex;
          & > div:nth-child(1){
            flex-basis: 25%;
          }
          & > div:nth-child(2){
            flex-basis: 25%;
          }
          & > div:nth-child(3){
            flex-basis: 50%;
            text-align: right;
          }
        }
        .p_information__label{
          font-size: 16px;
          line-height: 100%;
          font-weight: 500;
          color: #7888A2;
          display: flex;
          align-items: flex-end;
          & > button{
            margin-left: 10px;
          }
          b{
            color: #31456A;
          }
        }
      }

    }
  }
}
